include LICENSE
include README.md
recursive-include django_admin_shellx *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include django_admin_shellx_custom_admin *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
exclude django_admin_shellx/static/django_admin_shellx/css/terminal.css
exclude django_admin_shellx/static/django_admin_shellx/js/terminal.js
