@import "xterm/css/xterm.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
  /* TODO: Search admin is ruining this */
  height: 36px !important;
}

.terminal {
  padding: 1rem;
}

/* Override Django default admin content width */
.dashboard #content {
  width: unset;
}
