{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'django_web_repl/output/terminal.css' %}">
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
<script type="module" src="{% static 'django_web_repl/output/terminal.js' %}"></script>
{% endblock extrahead %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock bodyclass %}

{% block nav-breadcrumbs %}{% endblock nav-breadcrumbs %}

{% block nav-sidebar %}{% endblock nav-sidebar %}

{% block content %}
{{ block.super }}
<div class="djw_container">
  <div class="djw_content">
    <h1>Terminal</h1>
    <p>Terminal for running commands on the server.</p>
    <p>Mouse events are supported. CTRL+C should be used for copying (when marking items with the mouse) and
      CTRL+SHIFT+V should be used for pasting.</p>

    <hr>

    <div class="flex flex-col gap-4">


      {% if most_used_commands %}
      <details class="collapse border border-base-300">
        <summary class="collapse-title text-xl font-medium">Most Used Commands</summary>
        <div class="collapse-content">
          <table class="djw-tw-table">
            <tr>
              <th>Command</th>
              <th>Favorite</th>
              <th>Created By</th>
              <th>Execution Count</th>
              <th>Actions</th>
            </tr>
            {% for command in most_used_commands %}
            <tr>
              <td>{{ command.command }}</td>
              <td>{{ command.favorite }}</td>
              <td>{{ command.created_by }}</td>
              <td>{{ command.execution_count }}</td>
              <td>
                <div class="djw_command_tables_actions">
                  <button class="button"
                    onclick="location.href='{% url 'admin:django_web_repl_terminalcommand_change' command.id %}'">Edit</button>
                  <button class="button" id="djw_copy_command" data-command="{{ command.command }}">Copy</button>
                  <button class="" id="djw_execute_command" data-command="{{ command.command }}">Execute</button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </details>
      {% endif %}

      {% if favorite_commands %}
      <div>
        <h3>Favorite Commands</h3>
        <table>
          <tr>
            <th>Command</th>
            <th>Favorite</th>
            <th>Created By</th>
            <th>Execution Count</th>
            <th>Actions</th>
          </tr>
          {% for command in favorite_commands %}
          <tr>
            <td>{{ command.command }}</td>
            <td>{{ command.favorite }}</td>
            <td>{{ command.created_by }}</td>
            <td>{{ command.execution_count }}</td>
            <td>
              <div class="djw_command_tables_actions">
                <button class="button"
                  onclick="location.href='{% url 'admin:django_web_repl_terminalcommand_change' command.id %}'">Edit</button>
                <button class="button" id="djw_copy_command" data-command="{{ command.command }}">Copy</button>
                <button class="button" id="djw_execute_command" data-command="{{ command.command }}">Execute</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}

      {% if user_commands %}
      <div>
        <h3>Your Commands</h3>
        <table class="djw-tw-table">
          <tr>
            <th>Command</th>
            <th>Favorite</th>
            <th>Created By</th>
            <th>Execution Count</th>
            <th>Actions</th>
          </tr>
          {% for command in user_commands %}
          <tr>
            <td>{{ command.command }}</td>
            <td>{{ command.favorite }}</td>
            <td>{{ command.created_by }}</td>
            <td>{{ command.execution_count }}</td>
            <td>
              <div class=" djw_command_tables_actions">
                <button class="button"
                  onclick="location.href='{% url 'admin:django_web_repl_terminalcommand_change' command.id %}'">Edit</button>
                <button class="button" id="djw_copy_command" data-command="{{ command.command }}">Copy</button>
                <button class="button" id="djw_execute_command" data-command="{{ command.command }}">Execute</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}

    </div>

    <hr>

    <p id="djw_status" class="djw_status">Connecting...</p>
    <div class="djw_terminal_container">
      <div id="djw_terminal" class="djw_terminal"></div>
    </div>
  </div>
</div>
{% endblock content %}
