{% load admin_urls static %}

{% if commands %}
  <tr>
    <th>Command</th>
    <th>Prompt</th>
    <th>Created By</th>
    <th>Execution Count</th>
    <th>Actions</th>
  </tr>
  {% for command in commands %}
    <tr>
      <td class="font-bold">{{ command.command }}</td>
      <td>{{ command.prompt }}</td>
      <td>{{ command.created_by }}</td>
      <td class="font-bold">{{ command.execution_count }}</td>
      <td>
        <div class="flex gap-2">
          <button class="btn btn-sm btn-outline"
                  onclick="location.href='{% url 'admin:django_admin_shellx_terminalcommand_change' command.id %}'">
            <div class="tooltip" data-tip="Edit Command">
              <i class="fa fa-edit"></i>
            </div>
          </button>
          <button class="btn btn-sm btn-outline"
                  id="djw_copy_command"
                  data-command="{{ command.command }}">
            <div class="tooltip" data-tip="Copy Command">
              <i class="fa fa-clipboard"></i>
            </div>
          </button>
          <button data-prompt="{{ command.prompt }}"
                  class="btn btn-sm btn-outline"
                  id="djw_execute_command"
                  data-command="{{ command.command }}">
            <div class="tooltip" data-tip="Execute Command">
              <i class="fa fa-terminal"></i>
            </div>
          </button>
          <button class="btn btn-sm btn-outline"
                  hx-get="{% url 'admin:django_admin_shellx_terminalcommand_toggle_favorite' pk=command.id %}"
                  hx-swap="innerHTML">
            <div class="tooltip" data-tip="Favorite Command">
              <i class="fa fa-star {% if command.favorite %}text-yellow-400{% endif %}"></i>
            </div>
          </button>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endif %}
